<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <div th:each="el:${users}">
            <h3 class="text-white " th:text="${el.username}"></h3>
        </div>


        <form class="ms-auto " th:action="@{/logout}" method="post">
            <input type="submit" class="text-light bg-dark ms-3 " value="logout">logoaout</input>
        </form>


    </div>
</header>


<div class="d-flex align-items-start ">
    <div class="nav flex-column col-2 nav-pills me-3 mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">


        <a class="btn  btn-primary" href="/foradmin" role="button">Admin</a>
        <a class="btn btn-light " href="/main" role="button">User</a>
    </div>
    <div class="tab-content col-9" id="v-pills-tabContent ">
        <div class="tab-pane fade show active ms-3 me-3" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h2 class="mt-5">Admin panel</h2>


            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Users table
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">New User
                    </button>
                </li>

            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                     tabindex="0">

                    <div class="border border-1 border-top-0">
                        <h3 class="font-weight-bold ms-3">Users table</h3>


                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Old</th>
                                <th scope="col">Username</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                                <!--                                <th scope="col">Edit</th>-->
                                <!--                                <th scope="col">Delete</th>-->
                            </tr>
                            </thead>
                            <tbody th:each="el:${users}">
                            <tr>
                                <td th:text="${el.id}"></td>
                                <td th:text="${el.phone}"></td>
                                <td th:text="${el.old}"></td>
                                <td th:text="${el.username}"></td>
                                <td th:text="${el.roles}"></td>
                                <!--                                <td><a th:href="@{/user/} + ${el.id}">edit</a></td>-->
                                <td>
                                    <form th:action="'/user/' + ${el.id}">
                                        <!--                                        <button class="btn btn-info"  type="submit">edit</button>-->
                                        <button type="submit" class="btn btn-info">
                                            Edit
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form th:action="'/remove/' + ${el.id}" method="post">
                                        <button class="btn btn-danger" type="submit">delete</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade pb-2" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                     tabindex="0">


                    <div class="border border-1 border-top-0">
                        <h3 class="font-weight-bold ms-3">Add new users</h3>
                        <main class="form-signin w-25 m-auto mt-0 mb-5">
                            <form th:action="@{/registration}" method="post">


                                <div class="form-floating mt-2">
                                    <input name="username" type="text" class="form-control"
                                           placeholder="name@example.com">
                                    <label>username</label>
                                </div>
                                <div class="form-floating mt-2">
                                    <input name="password" type="text" class="form-control" placeholder="Password">
                                    <label>Password</label>
                                </div>
                                <div class="form-floating mt-2">
                                    <input name="phone" type="text" class="form-control" placeholder="phone">
                                    <label>phone</label>
                                </div>
                                <div class="form-floating mt-2">
                                    <input name="old" type="text" class="form-control" placeholder="old">
                                    <label>age</label>
                                </div>

                                <button name="login" type="submit" class="btn btn-primary mt-2 btn-lg w-100 m-auto">Singin</button>

                            </form>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h2 class="mt-5">Users panel</h2>

            <table class="table mb-0">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody th:each="el : ${userr}">
                <tr>
                    <th scope="row" th:text="${el.id}"/>
                    <td th:text="${el.username}"/>
                    <td th:text="${el.email}"/>
                    <td th:text="${el.phone}"/>
                    <td>
                        <form th:action="'/edit/' + ${el.id}">
                            <!--                                        <button class="btn btn-info"  type="submit">edit</button>-->
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Edit
                            </button>
                        </form>
                    </td>
                    <td>
                        <form th:action="'/remove/' + ${el.id}" method="post">
                            <button class="btn btn-danger" type="submit">delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>


</body>
</html>
